{% extends "main/header.html" %}

{% block content %}
<div class="row">
    {% for i, partone in part_ones.items %}
        <div class="col-6 col-sm-3">
            <div class="card text-white bg-dark mb-3" style="max-width: 27rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ i.blog_series }}</h5>
                    <p class="card-text">{{ i.series_summery }}</p>
                    <a href="{{partone}}" class="btn btn-primary">View mode...</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
